#loggedInDisplay {
    position:absolute;
    top: 1vw;
    right: 1vw;
    display:inline-flex;
}

#avatar {
    float: left;
    right: 1vw;
    position: inherit;
}

#logoutButtonDiv {
    text-align: end;
}

#userInfoDiv {
    display: inline-block;
}

ul {
    list-style: none;
    padding-left: 0;
}